.cardContainer{
    width: 300px;
    height: 500px;
    position: fixed;
    right: 0, 5rem;
    bottom: 0, 5rem;
}

.card-header{
    background-color: rgb(50, 50, 156);
    color: white;
    font-weight: 700;
}

.card-body{
    padding: 0.5rem;
    background-image: url(https://image.shutterstock.com/image-vector/social-media-seamless-pattern-doodle-260nw-1846688509.jpg);
}

.imgEnviar:active{
    transform: scale(0.9);
}

.enviado{
    display: block;
    float: right;
    background-color: aqua;
    color: white;
    min-width: 50.01%;
    border-radius: 10px;
    text-align: left;
}

.recibido{
    display: block;
    float: left;
    background-color:teal;
    color: white;
    min-width: 50.01%;
    border-radius: 10px;
    text-align: left;
}