.title, .info-game {
    width: 100%;
    background: white;
    color: #110F26;
    padding: 20px;
    text-align: center;
}
.casilla{
  height: 50px;
  width: 50px;
}
.j0{
  color: black;
}

.j1{
  color: blue;
}

.j2{
  color: red;
}

.f{
  font-size: 20px;
}
