h1 {
    text-align: center;
}

.cardContainer{
    width: 1100px;
    height: 480px;
    position:absolute;
    
}

.card-header{
    background-color: black;
    color: white;
    font-weight: 700;
}

.center {
    text-align: center;
}

.card-body{
    padding: 0.5rem;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
  }
  
.card-body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.imgEnviar:active{
    transform: scale(0.9);
}

.enviado{
    display: block;
    float: right;
    background-color:rgb(78, 122, 206);
    color: white;
    min-width: 50.01%;
    border-radius: 10px;
    text-align: left;
}

.recibido{
    display: block;
    float: left;
    background-color:teal;
    color: white;
    min-width: 50.01%;
    border-radius: 10px;
    text-align: left;
}