<!-- Toolbar -->
<!-- <div class="toolbar" role="banner">
  <img
    width="120"
    alt="Game Logo"
    src="assets/img/logo.png"
  />
  <span class="texto-grande">BIENVENIDOS</span>
    <div class="spacer"></div>
    <img
    width="120"
    alt="Game Logo"
    src="assets/img/logo.png"
  />
</div> -->

<!-- <div class="content" role="main"> -->

  <!-- Entretenimiento -->
  <!-- <h2 class="texto-mediano">Entretenimiento</h2>

  <nav>
    <a routerLink="/ppt">Piedra, papel o tijeras</a>
  </nav>
      
  <a class="card" target="_blank" rel="noopener" href="https://www.pokemon.com/el/pokedex/">
    <span>Pokédex</span>
  </a>
  </div> -->

  <router-outlet></router-outlet>
  
