<div class="container">

    <h2>Juegos</h2>
    <hr>
    <ul class="list-group">
        <li routerLink="/" 
        class="list-group-item">INICIO</li>
        <li routerLink="/cal" class="list-group-item">Calculadora</li>
        <li routerLink="/ppt" class="list-group-item">Piedra, papel o tijeras</li>
        <li routerLink="/gato" class="list-group-item">Gato</li>
        <li routerLink="/can" class="list-group-item">Ruleta</li>
        <li routerLink="/directivas" class="list-group-item">Directivas</li>
        <li routerLink="/graficas" class="list-group-item">Graficas</li>
        <li routerLink="/gifs" class="list-group-item">Gifs</li>
        
    </ul>
</div>
