<div class="container">

    <h2>Prácticas</h2>
    <hr>
    <ul class="list-group">
        <li routerLink="/" 
        class="list-group-item">INICIO</li>
        <li routerLink="/cal" class="list-group-item">Calculadora</li>
        <li routerLink="/ppt" class="list-group-item">Piedra, papel o tijeras</li>
        <li routerLink="/pipes" class="list-group-item">Pipes</li>
        <li routerLink="/gato" class="list-group-item">Gato</li>
        <li routerLink="/can" class="list-group-item">Ruleta</li>
        <li routerLink="/directivas" class="list-group-item">Directivas</li>
        <li routerLink="/graficas" class="list-group-item">Graficas</li>
        <li routerLink="/gifs" class="list-group-item">Gifs</li>
        <li routerLink="/auth" class="list-group-item">Iniciar sesion</li>
        <li routerLink="/chat" class="list-group-item">Chat</li>
        <li routerLink="/tecnicas" class="list-group-item">Tecnicas</li>
    </ul>
</div>
